@import './homepage.css';
@import './header.css';
@import './login.css';
@import './register.css';
@import './styles.css';
@import './Template1.css';
@import './profilepage.css';

* {
    margin:0;
    padding: 0;
}
.main {
    margin-top: 70px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.homepage-right-image {
    width: 450px;
    height: 450px;
    border-radius: 100%;
}