.register {
    width: 800px;
    height: auto;
    background-color: lightgreen;
    margin-left: 50%;
    transform: translate(-50%);
}

.register-body {
    /* margin-left: 50%; */
    /* transform: translate(-50%); */
}

.textbox-register {
    display: inline-block;
    width: 300px;
}